{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}

{% block main %}
    <div class="container" style="text-align: left;">
        <h3 style="color: #222; margin-bottom: 10px">Procedure</h2>
        <ol>
            <li style="color: #333;">Think about 6 habits you want to form, in which you can do consistently</li>
            <li style="color: #333;">Bracket those into 3 time - phases (morning, afternoon and evening)</li>
            <li style="color: #333;">Go to the “Set Habit” page to start your 21 - day challenge</li>
            <li style="color: #333;">Aim to complete 4 - 5 habits every day (it's great if you can do all six, but it's not required)</li>
            <li style="color: #333;">If you missed some habits, don't compensate the next day! Just focus on completing the 4 - 5 habits next day!</li>
            <li style="color: #333;">The result will appear in the “Today” page after 21 days!</li>
        </ol>
        
        <h3 style="color: #222; margin-bottom: 10px; margin-top: 30px">Sample Habits</h3>
            <div>
                <p>Note:</p>
                <ul>
                    <li>Below are some habits that I think everybody could benefit from, they are all cost-free and rooted in science and biology. </li>
                    <li>The time phases are only for reference, you can still benefit from performing certain habits in different time phases.</li>
                </ul>
            </div>
        <h4 style="color: #222;">Morning</h4>
        <p>(Alert and focused state: Action and Focus oriented)</p>
        <ol>
            <li style="color: #333;">Sunlight viewing for 5-20 min</li>
            <li style="color: #333;">Hard Work for 1.5h</li>
            <li style="color: #333;">Visualize the day (to reduce limbic friction)</li>
            <li style="color: #333;">Cold Exposure (Cold shower)</li>
            <li style="color: #333;">Physical Exercise</li>
        </ol>
        <h4 style="color: #222;">Afternoon</h4>
        <p>(Highest Serotonin, Relaxed state of being)</p>
        <ol>
            <li style="color: #333;">Meditation</li>
            <li style="color: #333;">Brainstorming</li>
            <li style="color: #333;">Talking to loved ones</li>
        </ol>
        <h4 style="color: #222;">Evening</h4>
        <p>(Relax yourself and prepare yourself for sleep)</p>
        <ol>
            <li style="color: #333;">Reading</li>
            <li style="color: #333;">Journaling</li>
            <li style="color: #333;">NSDR (non sleep deep rest)</li>
            <li style="color: #333;">Dim the lights</li>
        </ol>
        <h3 style="color: #222; margin-bottom: 10px; margin-top: 30px">Science behind the site</h3>
        <ol>
            <li style="color: #333;"><a href="https://www.youtube.com/watch?v=Wcs2PFz5q6g">Andrew Huberman: The Science of Making & Breaking Habits</a></li>
            <li style="color: #333;"><a href="https://www.hubermanlab.com/newsletter/build-or-break-habits-using-science-based-tools">Andrew Huberman's Newsletter</a></li>
            <li style="color: #333;"><a href="https://www.youtube.com/watch?v=PZ7lDrwYdZc">Atomic Habits summary (by James Clear)</a></li>

        </ol>
    </div>

{% endblock %}